
    div {
      flex: 30%;
      flex-wrap: wrap;
      text-align: center;
      border: 1px solid rgb(116, 107, 107);
    }
    .content {
      background-color: #ccc;
      height: 100%;
    }
    button {
      border: 1px solid #b4572b;
      border-radius: 5px;
      transform: scale(.9);
    }
    li {
      /* float: left; */
      height: 20px;
      color: #b4572b;
    }
    table{
      text-align: center;
      border-collapse: collapse; 
      margin: 8px;
    }
    .middle{
      display: flex;
    }
    img{
      width: 20px;
      height: 20px;
      vertical-align:middle ;
      margin-left: 32px;
    }
    #alertEdit{
      width: 300px;
      height: 130px;
      background-color: #b4572b;
      opacity: .9;
      position: absolute;
      left: 40%;
      top: 40%;
      border: 10px solid rgb(63, 55, 55);
      border-radius: 8px;
    }
    input{
      border-radius: 5px;
    }
    

